/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tkad {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 30px;
    margin-top: 10px;
}

.tkad .dstaikhoan {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.tkad .tktenmuc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.tktenmuc h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: red;
}
.tktenmuc .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.tkad table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.tkad table thead td {
    font-weight: 600;
}
.tkad .dstaikhoan table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tkad .dstaikhoan table tr:last-child {
    border-bottom: none;
}
.tkad .dstaikhoan table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}
.tkad .dstaikhoan table tr td {
    padding: 10px;
    font-size: 20px;
}
.tkad .dstaikhoan table tr td:nth-child {
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 80px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 20px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    position: relative;
    margin: auto 0;
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-link {
    text-decoration: none;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #b3e9fb;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position:relative;
}


.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

@media (min-width: 768px) {}

.all{
    padding: 10%;
}

.all h2{
    color:#0044fee0;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}


.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

